# --- Telegram Clients (Zaroori) ---
pyrogram
tgcrypto
telethon
aiogram
pyTelegramBotAPI

# --- Web Server (Render ko Jagane ke liye) ---
flask
uvicorn
fastapi

# --- Internet & API Calls ---
requests
aiohttp
httpx
urllib3
certifi

# --- Web Scraping (Data nikalne ke liye) ---
beautifulsoup4
bs4
lxml
html5lib
fake-useragent

# --- Database (Data save karne ke liye) ---
pymongo
motor
dnspython
redis
sqlalchemy

# --- Media & YouTube (Video/Photo ke liye) ---
yt-dlp
Pillow
pydub
opencv-python-headless
ffmpeg-python

# --- Tools & Maths (Calculations ke liye) ---
numpy
pandas
schedule
apscheduler
pytz
psutil
emoji
qrcode
colorama
python-dotenv
tqdm
